{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
    <main role="main">
	      <div class="container">
    	  <div class="row">
    	  {% for bar in bars.all %}
    	    <div class="col-md-4">
    	      <div class="card mb-4 shadow-sm">
    	        <img class="card-img-top" src="{{ bar.image.url }}" alt=" Card image cap">
    	        <div class="card-body">
    	          <h4>{{ bar.title }}</h4>
				  <br>
				  <h6 class="card-subtitle mb-2 text-muted">위치</h6>
    	          <p class="card-text">{{ bar.description }}</p>
                  <a href="{% url 'bard' bar.id %}" class="card-link">Card link</a>
    	        </div>
    	      </div>
    	    </div>
        {% endfor %}

        {% if posts.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{posts.previous_page_number}}">Previous</a>
        {% endif %}
    
        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>
    
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">Next</a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {% endif %}
        </div>
      </div>
    </main>
</body>
{% endblock %}