{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
    <main role="main">
	      <div class="container">
    	  <div class="row">
    	  {% for cock in cocks.all %}
    	    <div class="col-md-4">
    	      <div class="card mb-4 shadow-sm">
    	        <img class="card-img-top" src="{{ cock.image.url }}" alt=" Card image cap">
    	        <div class="card-body">
    	          <h4>{{ cock.title }}</h4>
				  <br>
				  <h6 class="card-subtitle mb-2 text-muted">구성요소</h6>
				  <p class="card-text">{{ cock.component }}</p>
				  <h6 class="card-subtitle mb-2 text-muted">특징</h6>
    	          <p class="card-text">{{ cock.description }}</p>
    	        </div>
    	      </div>
    	    </div>
        {% endfor %}
        </div>
      </div>
    </main>
</body>
{% endblock %}